.AlgoliaSearch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.AlgoliaSearch-header {
    display: flex;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .2);
    padding-bottom: 16px;
    margin-top: 38px;
}

.AlgoliaSearch-header-name-text {
    width: 255px;
    font-size: 16px;
    font-weight: 600;
}

.AlgoliaSearch-header-attribute-text {
    width: 250px;
    font-size: 16px;
    font-weight: 300;
}

.AlgoliaSearch-header-attribute-number {
    width: 70px;
    font-size: 16px;
    font-weight: 300;
    /*padding: 0px 25px 0px 25px;*/
}

.ais-SearchBox__input {
    width: 625px;
    height: 65px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 0px 36px 0px 36px;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 50px;
}

.ais-SearchBox__submit {
    display: none;
}


.ais-SearchBox__reset {
    display: none;
}

.ais-Pagination__root {
    display: flex;
    list-style: none;
}

.ais-Pagination__itemLink {
    margin: 0 3px 0 3px;
}