.SelectionHeader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.SelectionHeader-title {
    color: rgba(0,0,0,.2);
    font-size: 14px;
    font-weight: 600;
    margin-right: 38px;
}